body {
    background-image: linear-gradient(to right, #c6d4ff, #73ba9b);
    font-size: 16px;
}

.center {
    position: relative;
    margin-top: 250px;
}

.block {
    text-align: center;
}

.centered-element {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.dog {
    background-color: #c6d4ff;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #73ba9b;
}

.plane {
    margin-bottom: auto;
}
