@model Domain.ViewModels.Test.AddNewQuestionViewModel
@{
}
@using (Html.BeginForm("AddNewQuestion", "Test", FormMethod.Post))
{
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-field">
            <label asp-for="QuestionText">Question text</label>
            <input asp-for="QuestionText" class="form-control" required>
        </div>
        @for(int i = 1; i <= Model.Parameters.CountOfAnswer; i++)
        {
            <div class="form-field">
                <label asp-for="Answers">Answer #@i</label>
                <input asp-for="Answers" class="form-control">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="@i" asp-for="AnswersPowerHtml" >
            </div>
        }
        <div class="form-field">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
}
