@model Domain.ViewModels.ImprovingData.ViewImprovingDataViewModel
@{
}
<div class="text-center">
    <h1>Title: @Model.Title</h1>
    
</div>
<h3>Description: @Model.Description</h3>
<p>
    Information @Model.Information
</p>