@model Domain.ViewModels.Account.LoginViewModel
@{
    ViewBag.TitlePage = "Login";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{

        <div asp-validation-summary="All" class="text-danger"></div>
            <div class="center">
            <div class="block">
              <h3 class="plane">Login</h3>
              <input
                asp-for="Email" placeholder="enter the email"
                class="centered-element"
                type="email"
              />
            </div>
            <div class="block">
              <h3 class="plane">Password</h3>
              <input asp-for="Password" class="centered-element"
                placeholder="enter the password"
                type="password"
              />
            </div>
            <div class="block" style="margin-top: 10px">
              <button class="dog">Submit</button>
            </div>
          </div>


}