@model Domain.ViewModels.Account.LoginViewModel
@{
    ViewBag.TitlePage = "Login";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
<div class="container">
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <h3 id="name">Login</h3>
        <input
          placeholder="enter the email"
          class="centered-element"
          asp-for="Email" />
      </div>
      <div>
        <h3 id="password_text">Password</h3>
        <input asp-for="Password" placeholder="enter the password" type="password" id="password" />
      </div>
      <button class="button-login">Submit</button>
</div>

}