@model Domain.ViewModels.Account.RegistrationViewModel
@{
    ViewBag.TitlePage = "Registration";
}

@using (Html.BeginForm("Registration", "Account", FormMethod.Post))
{
<div class="container">
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <h3 id="name">Login</h3>
        <input
          placeholder="enter the email"
          class="centered-element"
          asp-for="Email" />
    </div>
    <div>
        <h3 id="password_text">Password</h3>
        <input asp-for="Password" placeholder="enter the password" id="password" />
    </div>
    <div>
        <h3 id="password_text_confirm">Password confirm</h3>
        <input asp-for="PasswordConfirm" placeholder="enter the password confirm" id="password_confirm" />
    </div>
    <button class="button-login">Submit</button>
</div>
}